.footer{
    background-color: #222222;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}

.container{
    height: 50px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.element{
    height: 80px;
    width: 80px;
    background-color: #282c34;
}

.icon{
    margin-top: 10px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: red;
}

@media screen and (max-width: 600px){
    .element{
        height: 40px;
        width: 40px;
    }
    .icon{
        height: 30px;
        width: 30px;
    }
}

@media screen and (max-width: 400px){
    .container{
        width: 100%;
    }
}

@media screen and (max-height: 500px){
    .container{
        height: 30px;
    }
}