.footer{
    height: 100px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 50px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.element{
    height: 80px;
    width: 80px;
    background-color: #282c34;
}

@media screen and (max-width: 600px){
    .element{
        height: 40px;
        width: 40px;
    }
}

@media screen and (max-width: 400px){
    .container{
        width: 100%
    }
}