.header{
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.container{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav{
    width: 400px;
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
}

.link{
    text-decoration: none;
    color: red;
}

.link:active{
    text-decoration: none;
    color: red;
}