.main{
    height: 100vh;
    background-color: #222222;
    display: flex;
    justify-content: center;
}

.container{
    width: 80%;
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.greetings{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 4;
}

.photo{
    height: 400px;
    width: 300px;
    background-color: darkslategrey;
}

.intro{
    position: relative;
}

.intro:before{
    content: "";
    background-color: red;
    height: 6px;
    width: 70%;
    position: absolute;
    right: -1px;
    bottom: 2px;
}