.skills{
    min-height: 100vh;
    background-color: #252527;
    position: relative;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line{
    width: 60px;
    height: 1px;
    align-self: center;
    justify-self: center;
    background-color: red;
    margin: 30px auto;
}

.abilities{
    width: 80%;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.desryption{
    width: 80%;
    height: 100px;
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
}

@media screen and (max-width: 1440px){
    .abilities{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px){
    .desryption{
        margin-top: 25px;
        height: 75px;
    }
    .line{
        margin: 15px auto;
    }
}
